<% @flats.each do |flat| %>
  <%= flat.title %>
<% end %>

<% @bookings.each do |booking| %>
  <div class="card">
    start :<%= booking.start %>
    end :<%= booking.end %>
    total price :<%= booking.total_price %>
    comment :<%= booking.comments %>
    status :<%= booking.status %>
  </div>
<% end %>
