<div class="container mt-4">
  <div class="form-wrapper" style="width: 400px; margin: 10px auto;">
    <h1>Create a new flat</h1>
    <%= simple_form_for(@flat) do |f| %>
      <div class="d-flex">
        <div class="row col-10">
          <%= f.input :title %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%#= f.input :room_type %>
          <%= f.input :persons %>
          <%= f.input :description, as: :text%>
          <%# = f.input :owner_present, as: :boolean%><%#= f.input :has_pet, as: :boolean %><%#= f.input :has_computer, as: :boolean %>
          <%#= f.input :has_coffee, as: :boolean %>
        </div>
        <div class="row col-12 d-flex align-items-end justify-content-end">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
      </div>
      <%= f.submit class: "btn btn-orange", id: "new-flat-btn"%>
    <% end %>
  </div>
</div>
