<div class="container">
  <div class="card-trip">

    <h2><%= @flat.title %></h2>

    <div id="carouselExampleControls" data-controller="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @flat.photos.each do |photo| %>
          <div class="carousel-item <%= @flat.photos.first == photo ? "active" : nil %>">
            <%= cl_image_tag photo.key, crop: :fill %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-carousel-target="prev" data-action="click->carousel#movePrev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-carousel-target="next" data-bs-target="#carouselExampleControls" data-action="click->carousel#moveNext" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>

    <div class="card-trip-infos d-flex align-items-center">
      <div class="infos-right d-flex flex-column align-items-start mt-4 mx-4">
        <p>Address: <span class="intitule"> <%= @flat.address %></span></p>
        <p>Description: <span class="intitule"> <%= @flat.description %></span></p>

        <% if @flat.rating %>
          <p>Rating: <span class="intitule"> <%= @flat.rating %>/ 5</span></p>
        <% else %>
          <p>Rating: <span class="intitule"><em>No rating for this flat</em></span></p>
        <% end %>
        <p>Max places: <span class="intitule"><%= @flat.persons %></span></p>
        <p><%= @flat.owner_present %><%= @flat.has_pet %><%= @flat.has_computer %>
        <%= @flat.has_coffee %></p>
      </div>

      <div class=" infos-left d-flex flex-column align-items-end justify-content-between mx-5">
        <%= cl_image_tag current_user.photo.key, crop: :fill, class:"avatar" %>
        <h2 class="card-trip-pricing pb-4 pt-1"><%= @flat.price %> € / day</h2>
        <div>
          <% if @flat.user.id == current_user.id %>
            <%= link_to flat_path(@flat), class:"btn-orange", method: :delete, data: { confirm: "Are you sure?" } do %>
              <%= "Delete" %>
            <% end %>
          <% else %>
            <%= link_to 'Book now', new_flat_booking_path(params[:id]), class: "btn btn-orange" %>
          <% end %>
          <%= link_to "Back to flats", flats_path, class:"btn btn-orange" %>

        </div>
      </div>
    </div>

  </div>
</div>
