<div class="container">
  <div class="card-trip">
    <h2><%= @flat.title %></h2>
      <div id="carouselExampleControls" data-controller="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @flat.photos.each do |photo| %>
            <div class="carousel-item <%= @flat.photos.first == photo ? "active" : nil %>">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <% end %>
          </div>
            <button class="carousel-control-prev" type="button" data-carousel-target="prev" data-action="click->carousel#movePrev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-carousel-target="next" data-bs-target="#carouselExampleControls" data-action="click->carousel#moveNext" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
          </button>
      </div>
          <div class="card-trip-infos d-flex flex_row">
            <div class="infos-right d-flex flex-column align-items-start justify-content-between">
              <p>Address </p><%= @flat.address %>
              <p>Description </p><%= @flat.description %>
              <p>Room you can rent </p><%= @flat.room_type %>
              <p><%= @flat.owner_present %><%= @flat.has_pet %><%= @flat.has_computer %>
              <%= @flat.has_coffee %></p>
            </div>

            <div class=" infos-left d-flex flex-column align-items-end justify-content-between">
              <%= cl_image_tag current_user.photo.key, crop: :fill, class:"avatar" %>
              <h2 class="card-trip-pricing"><%= @flat.price %> € / day</h2>
              <p> Rating <%= %></p>
              <p>Max places <%= @flat.persons %></p>
              <div>
                <% if @flat.user.id == current_user.id %>
                  <%= link_to flat_path(@flat), class:"btn", method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div>Delete</div>
                  <% end %>
                <% else %>
                  <%= link_to 'Add a booking', new_flat_booking_path(params[:id]), class: "btn" %>
                <% end %>
                <%= link_to flats_path, class:"btn" do %>
                  <i class="fas fa-chevron-circle-left"></i>
                <% end %>
              </div>
            </div>

          </div>

  </div>
</div>
