<div class="container">

<div class="card-trip m-5">
  <%= image_tag "flat1.jpg" %>
  <div class="card-trip-infos align-items-start">
    <div>
      <h2><%= @flat.title %></h2>
      <p>Address: </p><%= @flat.address %>
      <p>Description: </p><%= @flat.description %>
      <p>Room you can rent: </p><%= @flat.room_type %>
      <p><%= @flat.owner_present %><%= @flat.has_pet %><%= @flat.has_computer %>
      <%= @flat.has_coffee %></p>
    </div>
    <div class="d-flex flex-column  align-items-end justify-content-between">
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <h2 class="card-trip-pricing"><%= @flat.price %> € / day</h2>
      <p> Rating: <%= %></p>
      <p>Max places: <%= @flat.persons %></p>
      <div>
        <% if @flat.user.id == current_user.id %>
          <%= link_to "Rent my co-work", flats_path, class: "btn"  %>
          <%= link_to flat_path(@flat), class:"btn", method: :delete, data: { confirm: "Are you sure?" } do %>
            <div>Delete</div>
          <% end %>
        <% else %>
          <%= link_to 'Add a booking', new_flat_booking_path(params[:id]), class: "btn" %>
        <% end %>
        <%= link_to flats_path, class:"btn" do %>
          <i class="fas fa-chevron-circle-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


</div>
