<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link <% if !params[:tab] %>active<% end %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My current bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <% if params[:tab] %>active<% end %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Bookings on my own flats</button>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade <% if !params[:tab] %>show active<% end %>" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="d-flex">
        <% @my_bookings.each do |booking| %>
          <div class="card booking-card mt-3 me-3">
            <div class="booking-card-content">
              <div>
                <p><strong><%= booking.flat.title %></strong><%= booking.flat.rating %></p>
                <p class="dates"><i class="far fa-calendar-minus"></i>  <%=booking.start.strftime("%a, %b the %e")%> -> <%= booking.end.strftime("%a, %b the %e")%></p>
                <p class="dates">Total cost: <%= booking.total_price %>€</p>
                <p class="dates">Comment:<%= booking.comments %></p>
                <p class="dates <%= text_color(booking.status) %>">Status: <%= booking.status %></p>
              </div>
              <% if booking.end > Date.today %>
                <%= link_to edit_booking_path(booking), class:"btn-edit" do %>
                  <div class="btn-orange">Edit your booking</div>
                <% end %>
              <% else %>
                <%= link_to new_booking_review_path(booking), class:"btn-edit" do %>
                  <div class="btn-orange">Leave a review</div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade <% if params[:tab] %>show active<% end %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex">
        <% @my_flat_bookings.each do |booking| %>
          <div class="card booking-card mt-3 me-3">
            <div class="booking-card-content">
              <div>
                <p><strong><%= booking.flat.title %></strong><%= booking.flat.rating %></p>
                <p class="dates"><i class="far fa-calendar-minus"></i>  <%=booking.start.strftime("%a, %b the %e")%> -> <%= booking.end.strftime("%a, %b the %e")%></p>
                <p class="dates">Total cost: <%= booking.total_price %>€</p>
                <p class="dates">Comment:<%= booking.comments %></p>
                <p class="dates <%= text_color(booking.status) %>">Status: <%= booking.status %></p>
              </div>
              <div class="choices d-flex">
                <%= link_to accept_booking_path(booking), method: :patch do %>
                  <i class="far fa-check-circle"></i>
                <% end %>
                <%= link_to decline_booking_path(booking), method: :patch do %>
                  <i class="far fa-times-circle"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
