<h1>My current bookings</h1>

<% @bookings.each do |booking| %>
  <div class="card">
    start :<%= booking.start %>
    end :<%= booking.end %>
    total price :<%= booking.total_price %>
    comment :<%= booking.comments %>
    status :<%= booking.status %>
    <%= link_to "Edit this booking", edit_booking_path(booking) %>
  </div>
<% end %>
