<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_size_big.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>
        </li>
      <% end %>
    </ul>
    </div>
</div>
