<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_size_big.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Dashboard", dashboard_bookings_path, class:"btn btn-primary" %>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn-dropdown-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar" %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Add a flat", new_flat_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      <% else %>
        <%# <li class="nav-item active"> %>
          <%# <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
        <%# </li> %>
        <%# <li class="nav-item active"> %>
          <%# <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>
        <%# </li> %>
        <li>
        <%= link_to "Connexion", new_user_registration_path, class: "btn btn-primary" %>
        </li>
      <% end %>
    </ul>
   </div>
</div>
